* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('img/Mte+Miões2.png') no-repeat center center/cover;
    background-size: 120% 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: black;
    font-family: 'Georgia', serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.animation {
    width: 400px; 
    height: auto;
    margin-bottom: 20px;
}

h1 {
    color: #000;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p {
    color: #000;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button {
    width: 290px;
    height: 70px;
    background: url('img/icone033 1.png') no-repeat center center/contain;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    background-size: contain;
}

.button img {
    display: none;
}

.button:hover {
    opacity: 0.8;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .animation {
        width: 80%; /* Ajusta a largura da animação */
    }

    h1 {
        font-size: 32px; /* Reduz o tamanho da fonte do título */
    }

    p {
        font-size: 12px; /* Ajusta o tamanho da fonte do parágrafo */
    }

    .button {
        width: 250px; /* Reduz o tamanho do botão */
        height: 60px;
    }
}

@media (max-width: 480px) {
    body {
        background-size: cover; /* Ajusta a imagem de fundo em telas pequenas */
    }

    .container {
        padding: 10px;
    }

    .animation {
        width: 100%; /* Faz a animação ocupar 100% da largura */
    }

    h1 {
        font-size: 24px; /* Reduz ainda mais o tamanho da fonte */
    }

    p {
        font-size: 10px; /* Ajusta o tamanho do parágrafo em telas muito pequenas */
    }

    .button {
        width: 220px; /* Ajusta o tamanho do botão */
        height: 50px;
    }
}
